html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #faf4ed;
}

.top {
  width: 100vw;
  height: 15vh;
  border: 1px solid black;
  background-color: #829fcf;
  display: flex;
  justify-content: center;
}

.top p{
  font-size: 3rem;
}

.tray {
  width: 120px;
  height: 120px;
  /*border: 1px solid black; */
}

.trash {
  position: relative;
  bottom: 30px;
}

.master{
  position: relative;
  top: 20px;
}

.homepage-buttons {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.startgame, .login {
  width: 15vw;
  height: 5vh;
  margin: 2rem;
}

